nav {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #78a8e7;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoSearchContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo img {
  width: 200px;
  height: auto;
}

.search,
.secondarySearch {
  display: flex;
  align-items: center;
  height: 40px;
  margin: 0px 0px 0px 15px;
}

.search input,
.secondarySearch input {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #ccc;
  outline: none;
  width: 400px;
  height: 35px;
  font-size: 16px;
  padding-left: 20px;
}

.search a,
.secondarySearch a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 37px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #ccc;
  border: 1px solid #ccc;
  border-left: none;
  cursor: pointer;
  text-decoration: none;
}

.search a:hover,
.secondarySearch a:hover {
  background-color: #949494;
}

.search i,
.secondarySearch i {
  color: #fff;
}

.cartAccountContainer {
  display: flex;
}

.cartAccountContainer i {
  font-size: 20px;
  color: #173054;
}

.cartAccountContainer a {
  text-decoration: none;
  color: #173054;
}

.cartAccountContainer span {
  margin-left: 10px;
}

.cart {
  display: flex;
  margin-left: 25px;
  margin-right: 10px;
}

.secondarySearch {
  display: none;
}

@media (max-width: 1028px) {
  .search {
    display: none;
  }

  .secondarySearch {
    display: inline-flex;
    margin: 15px 0px 0px;
    justify-content: center;
  }

  .secondarySearch input {
    width: 90%;
    font-size: 13px;
  }
}

@media (max-width: 528px) {
  nav {
    padding: 30px 10px;
  }

  .logo img {
    width: 110px;
    height: auto;
  }

  .cartAccountContainer,
  .cartAccountContainer i {
    font-size: 12px;
  }

  .cart {
    margin: 0px 3px 0px 15px;
  }
}
